analysis/simple_vtx_res_comparisons
analysis/200918_fullSim_vs_required/mom_res_detector_vs_requirements
analysis/200921_resolution_fits/mom_res_fits
analysis/Si_GEMS_RICH_mom_res
analysis/vertex_resolution_comparisons
analysis/mom_res_detector_vs_requirements
analysis/mom_res_B_field_comp
processing/analysis_momentum_resolution
processing/analysis_vertex_resolution
processing/copy
data/
output/
tables/
*.pdf
*.root
*.DS_Store
